<head>
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/create-profile.css">
</head>

<div class="container js-modalContainer">
              {{!-- <input id="fileInput" type="file" accept="image/*" onchange="loadFile(event)" style="display: none"/>
              <img id="output" />
              <script>
                var loadFile = function (event) {
                  var output = document.getElementById("output");
                  output.src = URL.createObjectURL(event.target.files[0]);
                  output.onload = function () {
                    URL.revokeObjectURL(output.src); // free memory
                  };
                };
              </script> --}}
        <script>        
          //Start Switchtheme
          const modalContainer = document.querySelector('.js-modalContainer')
          const modalFooter = document.querySelector('.js-modalFooter')
          function switchtheme() {
            document
              .getElementById("wrap")
              .addEventListener("click", function switchtheme() {
                this.style.backgroundColor =
                  this.style.backgroundColor === "black" ? "white" : "black";
                this.style.color =
                  this.style.color === "white" ? "black" : "white";
              });
          };
          modalContainer.addEventListener("click", function switchtheme(event) {
            event.stopPropagation()
          })
          modalFooter.addEventListener("click", function switchtheme(event) {
            event.stopPropagation()
          })
        // End Switchtheme
        </script>
        <div class="header-profile">
          <div class="cover-image">
            <img src="https://bom.so/6sZAPf" alt="">
            <div class="avatar">
              <div class="middle-item">
                <img src="/img/user.png" alt="">
                <a href="" onclick=""></a>
              </div>
            </div>
            <div class="nickname">
              <div class="tittle-avatar">
                User
                <h6 style="font-size: 12px;"></h6>
              </div>
            </div>
            <div class="replace-image">
              <div class="row1">
                <a href="" onclick="">
                  <i class="fa-solid fa-camera"></i>Thay đổi ảnh bìa
                </a>
              </div>
            </div>
          </div>
          <div class="box-tab">
            <div class="tab1">
              <div class="tab-item1">
                <a href="" style="text-decoration: none;"><i class="fa-regular fa-user"></i>Quản lý tài khoản</a>
              </div>
            </div>
          </div>
        </div>
        <div class="body-profile">     
          <div class="content-1">
            <div class="intro-profile">
              <ul>
                <li>Tài khoản:</li>
                <li>info@gmail.com</li>
              </ul>
              <ul>
                <li>Gói đăng ký:</li>
                <li style="color: red;">Tra cứu miễn phí</li>
              </ul>
              <ul>
                <li>Số người sử dụng:</li>
                <li>1 người sử dụng</li>
              </ul>
              <ul>
                <li>Ngày đăng ký:</li>
                <li>17/12/2022</li>
              </ul>
              <ul>
                <li>Thời hạn sử dụng:</li>
                <li>17/12/2023</li>
              </ul>
            </div>
            <div class="infor-user">
              <div class="item">
                <span>Họ và tên</span>
                <input type="text" placeholder="Nhập Tên">
              </div>
              <div class="item">
                <span>Email</span>
                <input type="email" placeholder="Nhập Email">
              </div>
              <div class="item">
                <span>Số điện thoại</span>
                <input type="text" placeholder="Nhập số điện thoại">
              </div>
              <div class="item">
                <span>Địa chỉ</span>
                <input type="text" placeholder="Nhập địa chỉ">
              </div>
              <div class="item">
                <span>Thành Phố</span>
                <input type="text" placeholder="Nhập vào Thành Phố">
              </div>
              <div class="item">
                <span>Ngày sinh</span>
                <input type="date">
              </div>
              <div class="item1" style="width: 100%; display:flex">
                <span style="width: 20%;">Giới Tính</span>
                <input type="radio" value="1" name="1" style="margin-right: 2px;"> Nam
                <input type="radio" value="1" name="1" style="margin-left: 15px; margin-right: 2px;"> Nữ
                <input type="radio" value="1" name="1" style="margin-left: 15px; margin-right: 2px;"> Khác
              </div>
            </div>
            <div>
              <div class="submit">
                <button>Cập nhật</button>
              </div>
            </div>
          </div>
          
          <div class="content_2">
              <div class="marketing">
                <a target="_blank" href="https://bom.so/8sxRvx"> 
                  <img src="https://bom.so/Fe2JRd">
                </a>
              </div>
              <div class="marketing">
                <a target="_blank" href=""> 
                  <img src="https://bom.so/dmlwCK">
                </a>
              </div>
              <div class="hash-tag">
                <h3><i class="fa-solid fa-tag" style="font-size: 18px; margin-right: 3px"></i>Hash Tag</h3>
                <a target="_blank" href="https://bom.so/RB78tM">#luatvietnam</a>      
                <a target="_blank" href="https://bom.so/RB78tM">#thuvienphapluat</a>      
                <a target="_blank" href="https://bom.so/RB78tM">#vbpl</a>      
                <a target="_blank" href="https://bom.so/RB78tM">#baophapluat</a>      
                <a target="_blank" href="https://bom.so/RB78tM">#hocvientuphap</a>      
                <a target="_blank" href="https://bom.so/RB78tM">#baochinhphu</a>      
                <a target="_blank" href="https://bom.so/RB78tM">#luatrungvietnam</a>      
                <a target="_blank" href="https://bom.so/RB78tM">#phapluat</a>      
              </div>
          </div>
          </div>
        </div>
      </div>