      <footer class="js-modalFooter">
        <div class="logo_footer">
          <img src="/img/logo_dacs.png" alt="" style="height: 100px; margin-left: 40px">
        </div>
        <div class="address">
          <h3 style="width:215px;">Được thiết kế bởi nhóm</h3>
          <h4><i class="fa-solid fa-location-dot"></i> Địa chỉ: P. Nguyễn Trác - Yên Nghĩa - Hà Đông - Hà Nội</h4>
          <h4><i class="fa-solid fa-phone"></i> Hotline: 0123456789</h4>
          <h4><i class="fa-solid fa-envelope"></i> Email: info@phenikaa-uni.edu.vn</h4>
          <h4><i class="fa-brands fa-google"></i> Website: www.LuatRung.vn</h4>
        </div>
        <div class="link_header">
          <h3 style="width:100px;">Giới thiệu</h3>
          <h4><a href="#"><i class="fa-solid fa-house"></i> Trang chủ</a></h4>
          <h4><a href="#"><i class="fa-solid fa-newspaper"></i> Văn bản mới</a></h4>
        </div>
        <div class="connection">
          <h3 style="width:210px;" >Theo dõi chúng tôi trên</h3>
          <a href="https://www.facebook.com/dragonsea1909" style="font-size: 40px;" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://instagram.com/longhoang19.09?igshid=YmMyMTA2M2Y=" style="font-size: 40px;" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/longhoang2k2" style="font-size: 40px;" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </footer>