<div class="header">
    <div class="leftHeader">
        <a class="domain" href="">
            <span style="color:red;"><span style="color: thistle;">Luat</span>Rung.vn</span>
        </a>
        <a class="headerItem" href="/">Trang chủ</a>
        
        <a class="headerItem" href="/newpara/1">Văn bản mới</a>

    </div>

    <div class="rightHeader">
        <a class="btn-login" href="/login">Đăng nhập</a>
        <a class="btn-register" href="/register">Đăng kí</a>
    </div>


</div>