<div class="header">
    <div class="leftHeader">
        <a class="domain" href="">
            <span style="color:red;"><span style="color: thistle;">Luat</span>Rung.vn</span>
        </a>
        <a class="headerItem" href="/home" >Trang chủ</a>
        <a class="headerItem" href="/home/newpara/1">Văn bản mới</a>
        <!-- <a class="headerItem" href="../html/edit_remove.html">Chỉnh sửa điều khoản</a> -->
    </div>
    <div class="header-login">
        <li>
            <button class="user" onclick="myFunction()">
                <img src="/img/user.png" alt="" style="border-radius: 50%; ">
            </button>
            <div id="userList" >
                <ul>
                    <li>
                        <div>
                            <a href="/home/profile">Quản lý tài khoản</a>
                        </div>
                    </li>
                    <li><a href="/home/admin">Admin</a></li>
                    <li>
                        <label class="switch">
                            <input type="checkbox" onclick="switchtheme()"/>
                            <span class="slider"></span>
                        </label>
                    </li>
                    <li><a href="/">Đăng xuất</a></li>
                </ul>
            </div>
        </li>
    </div>
</div>

